<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>
        <header>
            <%- include ('../partials/header.ejs') %>
        </header>
        <div class="container">
            <a href="/sessions/new">
                <div class="cards">
                    <h2>log in</h2>
                </div>
            </a>
            <a href="/users/new">
                <div class="cards">
                    <h2>sign up</h2>
                </div>
            </a>
        </div>
    </body>
</html>
