<a href="/rounds" class="brand-logo">Handicap Tracker</a>
<ul class="right">
  <% if (currentUser) { %>
  <div class="welcome">Welcome <%=currentUser.username%></div>
  <div>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
  </div>
  <% } else { %>
  <li><a href="/users/new">Sign Up</a></li>
  <li><a href="/sessions/new">Log In</a></li>
  <% } %>
</ul>
