* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 10px auto;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.main-container {
    background-image: url(https://i.pinimg.com/originals/75/75/2b/75752b606df7654bbb7d62f504ca1005.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    overflow: scroll;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    color: #0e4b8a;
    width: 250px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    margin: 5px;
    color: #a6110c;
    cursor: pointer;
}

nav {
    text-align: center;
    margin: 20px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: white;
    height: 60px;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: none;
}



.round-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 25%;
    margin: auto;
    color: #a6110c;
}

.round-info > div {
    margin: 5px 0;
    font-size: 20px;
}

.round-info > div > span {
    color: white;
    margin-right: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .5)
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    color: #a6110c;
    box-shadow: 2px 2px 2px gainsboro;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background: white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.submit-btn {
    font-size: 15px;
    height: 50px;
    color: #a6110c;
    border: 1px solid grey;
    cursor: pointer;
}

.brand-logo {
    color: #0e4b8a;
    font-size: 45px;
}

.welcome {
    display: flex;
    align-items: center;
    color: #a6110c;
}

.header {
    display: flex;
    justify-content: center;
}

.header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background: white;
    color: #0e4b8a;
    height: 80px;
    width: 180px;
    margin: 30px 20px 0 20px;
    font-size: 25px;
}


ul {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    margin: 20px 30px 20px 30px;
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0;
    border-bottom: 1px solid grey;
    font-size: 20px;
}


.handicap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 20px;
    margin-bottom: 0;
    font-size: 16px;
}


.scorecard {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px;
}

.front-9, .back-9 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid grey;
    text-align: center;
    margin: 0 5px;
}
.hole-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid grey; */
    margin: 0 5px;
}

span > input {
    width: 30px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

fieldset {
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 75px;
    margin: 8px;
}

legend {
    font-size: 20px;
    color: white;
}

input {
    border-radius: 5px;
    height: 28px;
    width: 150px;
    font-size: 15px;
}

.form {
    display: flex;
    margin-bottom: 10px;
}

select {
    height: 28px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
}

.edit-delete {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#date-btn {
    cursor: pointer;
}
