<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="main-container">
      <h1>New User</h1>
      <form action="/users" method="POST">
          <div class="form">
              <fieldset>
                  <legend>User Name</legend>
                  <input type="text" name="username" required/>
              </fieldset>
              <fieldset>
                  <legend>Password</legend>
                  <input type="password" name="password" required/>
              </fieldset>
          </div>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
