<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <div class="main-container">
            <h1>New Score</h1>
            <form class="" action="/rounds" method="POST">
                <!-- <label for="course">Course</label> -->
                <div class="form">
                    <fieldset>
                        <legend>Course</legend>
                        <select id = "courseList" name="course">
                           <option value = "home">home</option>
                           <option value = "away">away</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <legend>Tees</legend>
                        <select id = "teesList" name="tees">
                           <option value = "back">back</option>
                           <option value = "middle">middle</option>
                           <option value = "forward">forward</option>
                        </select>
                    </fieldset>
                </div>
                <div class="form">
                    <fieldset>
                        <legend>Score</legend>
                        <input type="text" name="score" />
                    </fieldset>
                    <fieldset>
                        <legend>Date</legend>
                        <input type="date" name="date" id="date-btn" />
                    </fieldset>
                </div>

                <input type="submit" class="submit-btn" value="Submit Score">
            </form>
            <!-- <a href="/scorecard/new">Input full scorecard</a> -->
            </div>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>

        <script src="/js/app.js" charset="utf-8"></script>
    </body>
</html>
